img.img-thumbnail {
  height: 100px;
  min-width: 100px !important;
  margin-bottom: 2px;
  margin-left: 0;
  margin-right: 10px;
}

img.img-thumbnail.not-approved {
  opacity: 0.2;
}

.nv-file-over {
  border: dotted 3px red;
}

input[type="file"] {
  color: transparent;
}

.awaiting-approval-text {
  position: absolute;
  top: 50px;
  left: 22px;
  font-size: 20px;
  color: red;
}

button {
    cursor: pointer;
}